{% extends "master.html" %}
{% load static %}
{% block content %}
<style>

body {
        font-family: Tahoma, Helvetica, sans-serif;
        background-image: url('{% static "images/leket6.png" %}'); /* Set the background image */
        background-size: cover; /* sets the image to cover the entire body */

}

.button {
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: #F37835;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #1111;
  width: 120px;
  z-index: 2;
  box-shadow: 2px 2px 4px #888888; /* add shadow */
  font-size: 20px;
  font-family: Tahoma;
}

</style>
<title>Password Reset Complete</title>

<div class="container text-center">
  <h1 class="mt-4" dir="rtl" lang="he" style="margin-top:60px;margin-right:150px;">הסיסמה התעדכנה בהצלחה במערכת!</h1>
  <!--<p>Your password has been reset. Please login now.</p>-->
</div>

<a href="{% url 'login' %}">
<button class="button">התחבר </button></a>
{% endblock %}