{% extends "master.html" %}

{% block content %}
<title>Send Recovery Email</title>

<div>
  <br><br>
  <h1 dir="rtl" lang="he" style="text-align: right; margin-right: 125px;">שכחת סיסמה?<br></h1>
  <div dir="rtl" lang="he" style="text-align: right; margin-right: 125px;margin-top: 40px;">אנא הזן את כתובת האימייל איתה התחברת למערכת.</div>
  <div dir="rtl" lang="he" style="text-align: right; margin-right: 125px;margin-top: 10px;">הוראות איפוס סיסמה ישלחו לאימייל שהוזן.</div>


  <div>
    <div>
      <form method="POST">
        {% csrf_token %}
        {% include "bs5_form.html" with form=form %}
        <!--{{ form.as_p }}-->
        <div>
          <a style = "position: absolute; top: 5px; right: 40px; padding: 0px; font-size: 18px;color: #cf510c;" href="{% url 'main' %}">חזור</a><br>
          <button type="submit" name="button" class="button">שלח</button>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
        .button {
          margin-top: 30px;
          margin-left: 80.5% ;
          background-color: #F37835;
          color: white;
          padding: 6px 20px;
          border: 2px solid #1111;
          width: 120px;
          box-shadow: 2px 2px 4px #888888; /* add shadow */
          font-size: 20px;
          font-family: Tahoma;
        }
    </style>
{% endblock %}

