{% extends "master.html" %}
{% load static %}


{% block content %}
<title>Recovery Email Sent</title>

<div >
<h1 dir="rtl" lang="he" style="margin-top:50px;margin-right:170px;">אימייל אימות סיסמה נשלח אליך!</h1>
  <style>

body {
        font-family: Tahoma, Helvetica, sans-serif;
        background-image: url('{% static "images/leket6.png" %}'); /* Set the background image */
        background-size: cover; /* sets the image to cover the entire body */

}
</style>
  <h3 dir="rtl" lang="he" style="margin-top:50px;margin-right:180px;">אנא אפס סיסמה בהתאם להוראות המפורטות במייל.</h3>
  <h3 dir="rtl" lang="he" style="margin-top:20px;margin-right:225px;"> בסיום התהליך התחבר בשנית למערכת.</h3>

  <a href="{% url 'login' %}">
    <button class="button">התחבר </button>
  </a>

</div>
<style>
        .button {
          margin-top: 50px;
          margin-left: 61.5% ;
          background-color: #F37835;
          color: white;
          padding: 6px 20px;
          border: 2px solid #1111;
          width: 150px;
          box-shadow: 2px 2px 4px #888888; /* add shadow */
          font-size: 20px;
          font-family: Tahoma;
        }
    </style>

{% endblock %}
